<h1>Lista de Productos</h1>
<ul class = "productListHome">
  {{#each products}}
    <li class="productHome"><strong class = "productLetter">{{id}}. {{title}}</strong> - ${{price}}</li>
  {{/each}}
</ul>
